@font-face {
    font-family: EarlyBird;
    src: url(../fonts/EarlyBird/EarlyBird.woff);
}
@font-face {
    font-family: CRUSOGP;
    src: url(../fonts/CRUSOGP/CRUSOGP.woff);
}
@font-face {
    font-family: EternalFascination1;
    src: url(../fonts/EternalFascination1/EternalFascination1.woff);
}
@font-face {
    font-family: KOMIKAGL;
    src: url(../fonts/KOMIKAGL/KOMIKAGL.woff);
}
@font-face {
    font-family: mimafuse;
    src: url(../fonts/mimafuse/mimafuse.woff);
}
